* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


/* COLORES AHORA: 
verde footer, vocales y nav rgb(46, 211, 0);
sección letras: rgb(0, 199, 206) solid;
sección números: rgb(190, 128, 226);
sección global: rgb(255, 16, 135);
Fondo main official:  rgb(221, 221, 221); 
CARROT #ED694E
LILA #A760F7
TURQUESA #63D4E0
VERDE #A2F760
NARANJA FLOJO #EDBB5C */


.root {
  /* --color-bg: #ffebd2; */
  /* --color-bg-variant:; */
  --color-primary: #2ed300;
  --color-primary-variant: #d53e0f;
  --transition: all 400ms ease;
  --color-white: #fff;
  --color-green: #a1f064;
  --color-h1: #a1f064;
  --color-vocals: #2ed300;
  --color-global: #ff1087;
  --color-number: #be80e2;
  --color-alphabhet: #00c7ce;
  --color-black: rgb(5, 5, 5);
}

.main_div {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  font: 700;
}

.bodymain {
  background-color: #A760F7;
}

.Main {
  display: flex;
}

.Title h1 {
  color: rgb(5, 5, 5);
}


/*---------------------------FOOTER-------------------------*/
.Footer {
  background-color: #ff881b;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');