.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 6.5rem;
    align-content: center;
    text-align: center;
    color: rgb(5, 5, 5);
  }
  
  .home-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    align-items: center;
    margin-bottom: 15%;
  }

  /* #itemm1 > p{
    display: flex;
    margin-top: -20% ;
    margin-bottom: 10%;
    color: #a1f064;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
  }

  #itemm1{
    z-index: 1;
  } */

  #KSlogo{
    display: flex;
    width: auto;
    height: 31rem;
    margin-top: -20%;
    z-index: 1;
  }

  .static{
    z-index: 1;
  }

  .static span{
    margin-bottom: 100px;
    color:  #a1f064;
    z-index: 1;
    font-family: 'Playpen Sans', cursive;
  }

  span{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4rem;
  }

  #co {
    position: absolute;
    height: 30rem;
    width: auto;
    /* right: 60%;
    top: 8%; */
    transform: rotate(-90deg);
  }

  #coleft{
    position: absolute;
    height: 40rem;
    width: auto;
    transform: scaleX(-1);
    left:0;
  
  }

#codown{
  position: absolute;
    height: 40rem;
    width: auto;
    right: 0;
  } 

  @media (max-width:1120px) and (min-width:725px){
    #co{
      height: auto;
      width: 52rem;
      transform: rotate(180deg);
    }

    #coleft, #codown{
      display: none;
    }

    #KSlogo{
      margin-top: -10%
    }

    span{
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4.5rem;
    }

}

@media (max-width:724px) and (min-width:526px){
  #co{
    height: auto;
    width: 40rem;
    transform: rotate(180deg);
  }

  #coleft, #codown{
    display: none;
  }

  span{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3rem;
  }
}
 
  @media (max-width:525px) and (min-width:370px){
    #co{
      height: auto;
      width: 52rem;
      transform: rotate(180deg);
    }

    #coleft, #codown{
      display: none;
    }

    #KSlogo{
      display: flex;
      width: auto;
      height: 25rem;
      z-index: 1;
    }

    span{
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3.5rem;
    }
  }