.ButtonLogin {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    justify-content: center;
    letter-spacing: 4px;
}

.ButtonLogin:hover {
    background-color: brown;
}

@media (max-width: 668px) and (min-width:375px) {
    .ButtonLogin {
        position: absolute;
        left: -10px;
        font-size: 0px;
    }

    .ButtonLogin svg {
        position: absolute;
        font-size: 30px;
    }

    .ButtonLogin:hover {
        background-color: #ffffff00;
    }
}