.cards>.frontside>img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.memory_bg {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1%;
}

.memory_bg_vocales {
    background-color: rgb(46, 211, 0);
}

.memory_bg_alphabet {
    background-color: rgb(0, 199, 206);
}

.memory_bg_numbers {
    background-color: rgb(190, 128, 226);
}

/* .memory_bg_global {
    background-color: rgb(255, 16, 135);
} */

.containeR {
    min-width: 65%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border-radius: 20px; */
    /* margin-bottom: 2%; */
    background-color: #fff;
    /* margin: 10%; */
}

/* background-color:linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); */
.cards-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    height: auto;
    gap: 1rem;
    padding: 1rem;
    perspective: 700px;
}

.cards-containerglobal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    /* height: auto; */
    /* gap: 1rem; */
    /* padding: 1rem; */
    perspective: 700px;
}

.cards {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.3s ease;

}

.backside {
    background: url('../assets/cartas/umbrella.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    cursor: pointer;
}

.frontside {
    transform: perspective(700px) rotateY(180deg);
}

.cards.open {
    transform: rotateY(180deg);
}

.containeR>.game-over> {
    background-color: rgb(0, 0, 0, 0.9);
    height: 200px;
    width: 200px;
    backdrop-filter: blur(20px);
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 10;
    display: flex;
    align-items: center;
}

.boxy {
    max-width: 751px;
    width: 751px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5px;
    position: relative;
}

.boxy>img {
    display: flex;
    position: absolute;
    top: -400px;
    right: 730px;
    height: 120px;
    width: auto;
}

.score-container {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    color: #fff;
    width: 100px;
    height: 70px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: larger;
}

.boxy button {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
}

.stop-clicking {
    pointer-events: none;
}

.memory_exit,
.memory_continue {
    height: fit-content;
    font-size: 30px;
    padding: 7px 15px;
    border-radius: 10px;
    background: linear-gradient(120deg, #833ab4ad, #fd1d1da9, #fcb045ad);
    background-color: #ffffffb1;
    /* border: 2px #fff dashed; */
    color: #fff;
    letter-spacing: 3px;
    font-weight: lighter;
    cursor: pointer;
    transition: 200ms;
    margin-bottom: 15vh;
}

.memory_exit:hover,
.memory_continue:hover {
    transform: scale(1.1);
    /* color: #000; */
    color: #fff;
    box-shadow: 10px -0px 15px #000;
    /* border: 0px #fff dashed; */
}