.cards > .frontside > img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.containeR{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    background-color: #fff;
    width: auto;
    height: 751px;
    margin: 10%;
}

/* background-color:linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); */
.cards-container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background:linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    height: auto;
    gap: 1rem;
    padding: 1rem;
    perspective: 700px;
}

.cards{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;
    width: 155px;
    position: relative;
    transform-style:preserve-3d;
    transition: 0.3s ease;

}

.backside{
    background: url('../assets/cartas/umbrella.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    cursor: pointer;
}

.frontside{
    transform: perspective(700px) rotateY(180deg);
}

.cards.open{
    transform: rotateY(180deg);
}

.containeR > .game-over > {
    background-color: rgb(0,0,0,0.9);
    height: 200px;
    width: 200px;
    backdrop-filter: blur(20px);
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 10;
    display: flex;
    align-items: center;
}

 .boxy{
    max-width: 751px;
    width: 751px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5%;
    position: relative;
}

.boxy > img{
    display: flex;
    position: absolute;
    top: -400px ;
    right: 730px;
    height: 120px;
    width: auto;
}

.score-container{
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    color: #fff;
    width: 100px;
    height: 70px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    font-size: larger;
}

.boxy button{
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
}

.stop-clicking{
    pointer-events: none;
}